(
  resources: {},
  entities: {
    0: (
      components: {
        "sr_rl::game::Player": (),
        "sr_rl::game::Stats": (
          speed: 0.0,
        ),
        "sr_rl::game::Npc": (),
        "sr_rl::game::Monster": (),
      },
    ),
  },
)